### File managed with puppet ###
## Module:           'foreman'

production:
  adapter: {{ getenv "DATABASE_TYPE" }}
  host: {{ getenv "DATABASE_HOST" }}
  port: {{ getenv "DATABASE_PORT" }}
  database: {{ getenv "DATABASE_NAME" }}
  username: {{ getenv "DATABASE_USER" }}
  password: {{ getenv "DATABASE_PASSWORD" }}
  pool: 5
