---
{{ if getenv "TRUSTED_HOSTS" }}
:trusted_hosts: {{ $hosts := split (getenv "TRUSTED_HOSTS") "," }}{{ range $hosts }}
 - {{.}}{{end}}
{{ else }}
:trusted_hosts: []
{{ end }}
:foreman_url: {{ getenv "FOREMAN_URL" }}
:daemon: false
:bind_host: '*'
:http_port: 8000
:log_file: STDOUT
:log_level: INFO
:https_port: 8443
{{ if getenv "FORWARD_VERIFY" }}
:forward_verify: {{ getenv "FORWARD_VERIFY" }}
{{ else }}
:forward_verify: true
{{ end }}
{{ if getenv "DISABLE_SSL" }}
{{ else }}
:ssl_certificate: /certs/client.crt
:ssl_private_key: /certs/client.key
:ssl_ca_file: /certs/client_ca.pem
{{ end }}
