# ************************************
# Vhost template in module puppetlabs-apache
# Managed by Puppet
# ************************************

<VirtualHost *:443>
  ServerName {{getenv "HOSTNAME"}}.{{getenv "DOMAIN"}}

  ## Vhost docroot
  DocumentRoot "/usr/share/foreman/public"

  ## Directories, there should at least be a declaration for /usr/share/foreman/public

  <Directory "/usr/share/foreman/public">
    Options SymLinksIfOwnerMatch
    AllowOverride None
    Require all granted
  </Directory>

  ## Load additional static includes
  IncludeOptional "/etc/httpd/conf.d/05-foreman-ssl.d/*.conf"

  ## Logging
  ErrorLog "/var/log/httpd/foreman-ssl_error_ssl.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/foreman-ssl_access_ssl.log" combined 

  ## Server aliases
  ServerAlias {{getenv "HOSTNAME"}}

  ## SSL directives
  SSLEngine on
  SSLCertificateFile      "/certs/public.crt"
  SSLCertificateKeyFile   "/certs/private.key"
  # SSLCertificateChainFile "/certs/ca.pem"
  SSLVerifyClient         optional
  SSLCACertificateFile    "/certs/ca.pem"
  {{ if getenv "MANAGE_CERTIFICATE_REVOCATION_LIST" }}
  SSLCARevocationFile     "/certs/crl.pem"
  {{ else }}
  # SSLCARevocationFile     "/certs/crl.pem"
  {{ end }}
  SSLVerifyDepth          3
  SSLCARevocationCheck    "chain"
  SSLOptions +StdEnvVars +ExportCertData

  ## Custom fragment
  # Static public dir serving

<Directory ~ /usr/share/foreman/public/(assets|webpack)>

  # Use standard http expire header for assets instead of ETag
  <IfModule mod_expires.c>
    Header unset ETag
    FileETag None
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
  </IfModule>

  # Return compressed assets if they are precompiled
  <IfModule mod_rewrite.c>
    RewriteEngine on
    # Make sure the browser supports gzip encoding and file with .gz added
    # does exist on disc before we rewrite with the extension
    RewriteCond %{HTTP:Accept-Encoding} \b(x-)?gzip\b
    RewriteCond %{REQUEST_FILENAME} \.(css|js|svg)$
    RewriteCond %{REQUEST_FILENAME}.gz -s
    RewriteRule ^(.+) $1.gz [L]
    # Set headers for all possible assets which are compressed
    <FilesMatch \.css\.gz$>
      ForceType text/css
      Header set Content-Encoding gzip
      SetEnv no-gzip
    </FilesMatch>
    <FilesMatch \.js\.gz$>
      ForceType text/javascript
      Header set Content-Encoding gzip
      SetEnv no-gzip
    </FilesMatch>
    <FilesMatch \.svg\.gz$>
      ForceType image/svg+xml
      Header set Content-Encoding gzip
      SetEnv no-gzip
    </FilesMatch>
  </IfModule>

</Directory>

<Location /users/extlogin>
  SSLUsername SSL_CLIENT_S_DN_CN
</Location>

  PassengerRuby /usr/bin/tfm-ruby
  PassengerAppRoot /usr/share/foreman
  PassengerMinInstances 1
  PassengerStartTimeout 90

  AddDefaultCharset UTF-8
  KeepAlive on
  KeepAliveTimeout 5
  MaxKeepAliveRequests 100
</VirtualHost>
PassengerPreStart https://{{getenv "HOSTNAME"}}.{{getenv "DOMAIN"}}:443
