<IfModule mod_passenger.c>
   PassengerRoot /usr/share/passenger//phusion_passenger/locations.ini
   PassengerRuby /usr/bin/ruby
</IfModule>

# Deploying a Ruby on Rails application: an example

# Suppose you have a Rails application in /somewhere. Add a virtual host to
# your Apache configuration file and set its DocumentRoot to /somewhere/public:
#
#    <VirtualHost *:80>
#       ServerName www.yourhost.com
#       Be sure to point to 'public'!
#       DocumentRoot /somewhere/public
#       <Directory /somewhere/public>
#          Relax Apache security settings
#          AllowOverride all
#          MultiViews must be turned off
#          Options -MultiViews
#       </Directory>
#    </VirtualHost>
