---
### File managed with puppet ###
## Module:           'foreman'


:unattended: true
:login: true
:require_ssl: true
:locations_enabled: false
:organizations_enabled: false
:puppetrun: false

# The following values are used for providing default settings during db migrate
:oauth_active: true
:oauth_map_users: false
:oauth_consumer_key: pWSCyCZNG84XQaJ3xAhYibnS8dvE8U5C
:oauth_consumer_secret: nFjLa7N8jvgoawEgVSoVFqKnS2mvACRd

# Websockets
:websockets_encrypt: on
:websockets_ssl_key: /certs/private.key
:websockets_ssl_cert: /certs/public.crt

# SSL-settings
:ssl_certificate: /certs/public.crt
:ssl_ca_file: /certs/ca.pem
:ssl_priv_key: /certs/private.key

# HSTS setting
:hsts_enabled: true

# Log settings for the current environment can be adjusted by adding them
# here. For example, if you want to increase the log level.
:logging:
  :level: info
  :production:
    :type: file
    :layout: pattern

# Individual logging types can be toggled on/off here
:loggers:

# Foreman telemetry has three destinations: prometheus, statsd and rails log.
:telemetry:
  # prefix for all metrics
  :prefix: 'fm_rails'
  # prometheus endpoint is at /metrics
  # warning: ruby client library currently does not supprt multi-process web servers
  :prometheus:
    :enabled: false
  # works with statsd_exporter too, use the rake task to generate config
  :statsd:
    :enabled: false
    # IP and port (do not use DNS)
    :host: '127.0.0.1:8125'
    # one of 'statsd', 'statsite' or 'datadog'
    :protocol: 'statsd'
  # Rails logs end up in logger named 'telemetry' when enabled
  :logger:
    :enabled: false
    # logging level as in Logger::LEVEL
    :level: 'DEBUG'

:dynflow:
  :pool_size: 5
