# URL of the puppet master itself for API requests
:puppet_url: {{ getenv "PUPPET_URL" }}
:puppet_ssl_ca: /certs/ca.pem
:puppet_ssl_cert: /certs/public.crt
:puppet_ssl_key: /certs/private.key
:api_timeout: 30
