---
{{ if .Env.TRUSTED_HOSTS }}
:trusted_hosts:
{{ range split .Env.TRUSTED_HOSTS "," -}}
  - {{.}}
{{ end }}
{{ else }}
:trusted_hosts: []
{{ end }}
:foreman_url: {{ .Env.FOREMAN_URL }}
:daemon: false
:bind_host: '*'
:http_port: 8000
:log_file: STDOUT
:log_level: INFO
{{ if isTrue .Env.SSL }}
:https_port: 8443
{{ if .Env.FORWARD_VERIFY }}
:forward_verify: {{ .Env.FORWARD_VERIFY }}
{{ else }}
:forward_verify: true
{{ end }}
:ssl_certificate: /cert.pem
:ssl_private_key: /key.pem
:ssl_ca_file: /ca.pem
{{ end }}
