[main]
storeconfigs_backend = puppetdb
storeconfigs = true
reports = puppetdb,foreman,log
certname = {{ getenv "PUPPETSERVER_HOSTNAME" }}
server = {{ getenv "PUPPETSERVER_HOSTNAME" }}
[master]
vardir = /opt/puppetlabs/server/data/puppetserver
logdir = /var/log/puppetlabs/puppetserver
rundir = /var/run/puppetlabs/puppetserver
pidfile = /var/run/puppetlabs/puppetserver/puppetserver.pid
codedir = /etc/puppetlabs/code
autosign = {{ getenv "AUTOSIGN" }}
external_nodes = /etc/puppetlabs/puppet/node.rb
node_terminus = exec
